.reveal section img {
  border : 0;
}

.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled {
  border-left-color: #333;
}

.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled {
  border-right-color: #333;
}

.reveal section img {
  margin: 0;
  border: 0;
}

div.fragment.box.visible {
  background-color: #ffffcc;
  border-left: 16px solid #ffeb3b;
  padding: 15px;
}

p.box-title {
  font-weight: 600;
  font-size: 0.75em;
}

p.fragment.box-body.visible.current-fragment {
  font-size: 0.85em;
}

p.instructions {
  margin-top: 630px;
  display: block;
  position: relative;
}

span.copyright {
  font-size: 0.3em;
  display: block;
  padding-top: 1px;
}

font.quotes {
  color: #673377;
  font-style: italic;
  font-size: 1.2em;
}

.fragment.box.visible {
	margin-top: 20px;
}
